<!DOCTYPE HTML>
<html>
<head>
    <title> About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="wrap">
        <div class="wrapper">
            <div class="header">
                <div class="header_top">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.png" alt="" /></a>
                    </div>
               
                    <div class="clear"></div>
                </div>
                <div class="header_bottom">
                    <div class="header_img">
                        <img src="images/header_img.jpg" alt="" />
                    </div>
                 
                </div>
            </div>
            <div class="main">
                <div class="main_top">
                    <h2>ABOUT US</h2>
                    <div class="main_top_strip">
                        <img src="images/main_top_strip.png" alt="" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="about_data">
                    <p>
                        THE PIZZA HUT STORY</p>
                    <p> The Pizza Hut story begins in May 1958. Dan and Frank Carney opened their 550-squarefoot pizza restaurant in Wichita, Kansas. Dan and Frank, with friends Richard Beemer and John Bender, made the pizza themselves. Frank rolled the dough with a rolling pin. Richard tossed the dough in the air from the pie tin. Dan filled the unbaked crust with sauce. John flipped the pie from the tin during the baking process. Dan Carney recalled, "The people were enchanted with the product, watching us tossing the dough over our heads. They were really enjoying themselves…."</p>

                    <p>
                        The Carneys created an innovative, high quality, engaging, informal eating experience in a friendly neighborhood restaurant. Pizza Hut became a popular place with the teenage and college crowd. Pizza Hut attracted families that enjoyed a night out eating a meal that they would not be having at home. After the families left, Pizza Hut transformed itself into a hangout for college-age kids. Having a good time was an essential part of Pizza Hut. The idea caught on. A second Pizza Hut opened in December 1958 in downtown Wichita. By 1963, there were forty-two Pizza Hut restaurants.
                    </p>
            </div>
            <div class="footer">
                <div class="copy_right">
                
                </div>
            </div>
        </div>
    </div>
</body>
</html>


