<!DOCTYPE HTML>
<html>
<head>
    <title>Pizza</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="wrap">
        <div class="wrapper">
            <div class="header">
                <div class="header_top">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.png" alt="" /></a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_bottom">
                    <div class="header_img">
                        <img src="images/header_img.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="main_top">
                    <h2>OUR SPECIALS </h2>
                    <div class="main_top_strip">
                        <img src="images/main_top_strip.png" alt="" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="about_data">
                <div class="pizza_details">
                    <img src="images/item2.jpg" alt="" />
                    <div class="desc">
                        <ul>
                            <img src="~/pizza/all-in-bozza-bundle2806.png" />
                            <li><span>Name</span> : All in Bozza Bundle</li>
                            <li><span>Price</span> :R179.90 </li>
                            <li><span>Contents</span>:Any 2 super boss pizzas + large fries + 1.5L coke or coke no sugar </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="about_data">
                <div class="pizza_details">
                    <div class="desc">
                        <ul>
                            <img src="~/pizza/hut-doubles-large5701.png" />
                            <li><span>Name</span> : Hut doubles large</li>
                            <li><span>Price</span> :R179.90 </li>
                            <li><span>Contents</span>:Any 2 super boss pizzas + large fries + 1.5L coke or coke no sugar </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="about_data">
                <div class="pizza_details">
                     <div class="desc">
                        <ul>
                            <img src="~/pizza/the-big-boss1522.png" />
                            <li><span>Name</span> : Big boss</li>
                            <li><span>Price</span> :R179.90 </li>
                            <li><span>Contents</span>:The Big Boss! South Africa’s most shareable pizza! Get the Big Boss, where you can choose any 3 pizza flavours of your choice! T’s and C’s apply. </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="pizza_details">
                <div class="desc">
                    <ul>
                        <img src="~/pizza/the-boss-box8481.png" />
                        <li><span>Name</span> : The boss box</li>
                        <li><span>Price</span> :R179.90 </li>
                        <li><span>Contents</span>:Any Boss pizza + regular fries and regular potato tots </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    <div class="pizza_details">
        <div class="desc">
            <ul>
                <img src="~/pizza/the-boss9603.png" />
                <li><span>Name</span> : The boss</li>
                <li><span>Price</span> :R179.90 </li>
                <li><span>Contents</span>:Any 2 super boss pizzas + large fries + 1.5L coke or coke no sugar </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    </div>
    <div class="pizza_details">
        <img src="images/item2.jpg" alt="" />
        <div class="desc">
            <ul>
                <img src="~/pizza/the-untoppable-deal7901.png" />
                <li><span>Name</span> : The Untoppable Deal</li>
                <li><span>Price</span> :R179.90 </li>
                <li><span>Contents</span>:Any 2 super boss pizzas + large fries + 1.5L coke or coke no sugar </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    </div>
    <div class="pizza_details">
        <img src="images/item1.jpg" alt="" />
        <div class="desc">
            <ul>
                <img src="~/pizza/fiery-chicken8048.png" />
                <li><span>Name</span> : Fiery chicken</li>
                <li><span>Price</span> :R119.90 </li>
                <li><span>Contents</span> : Chicken, Fiery Sauce, Jalapenos, Mozzarella Cheese</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="pizza_details">
        <img src="images/item2.jpg" alt="" />
        <div class="desc">
            <ul>
                <img src="~/pizza/mexican-chicken3111.png" />
                <li><span>Name</span> : Mexican chicken</li>
                <li><span>Price</span> :R119.90 </li>
                <li><span>Contents</span>: Chicken, Fiery Sauce, Jalapenos, Mozzarella Cheese, Peppadew® Piquante Peppers</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="pizza_details">
        <img src="images/item3.jpg" alt="" />
        <div class="desc">
            <ul>
                <img src="~/pizza/creamy-chicken5689.png" />
                <li><span>Name</span> : Creamy chicken</li>
                <li><span>Price</span> :R119.90 </li>
                <li><span>Contents</span> :Chicken, Diced Tomato, Marinara Sauce, Mozzarella Cheese, Mushrooms, Spring Onion </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="pizza_details">
        <img src="images/item4.jpg" alt="" />
        <div class="desc">
            <ul>
                <img src="~/pizza/chicken-fierynaise7937.png" />
                <li><span>Name</span> : Chicken fierynaise</li>
                <li><span>Price</span> :R119.90 </li>
                <li><span>Contents</span> :Chicken, Diced Tomato, Marinara Sauce, Mozzarella Cheese, Peppadew® Piquante Peppers, Spring Onion. </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="pizza_details">
            <img src="images/item5.jpg" alt="" />
            <div class="desc">
                <ul>

                    <img src="~/pizza/bbq-chicken-and-bacon5920.png" />
                    <li><span>Name</span> : BBQ Chicken and Bacon</li>
                    <li><span>Price</span> :R119.90 </li>
                    <li><span>Contents</span> : BBQ Sauce, Chicken, Bacon, Mozzarella Cheese</li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="pizza_details">
                <img src="images/item4.jpg" alt="" />
                <div class="desc">
                    <ul>
                        <img src="~/pizza/sweet-chilli-chicken-and-feta4872.png" />
                        <li><span>Name</span> : Sweet Chilli Chicken and Feta</li>
                        <li><span>Price</span> :R119.90 </li>
                        <li><span>Contents</span> :Chicken, Feta, Mozzarella Cheese, Sweet Chili Sauce </li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="pizza_details">
                    <img src="images/item4.jpg" alt="" />
                    <div class="desc">
                        <ul>
                            <img src="~/pizza/chicken-and-mushroom8908.png" />
                            <li><span>Name</span> : Chicken and Mushroom</li>
                            <li><span>Price</span> :R119.90 </li>
                            <li><span>Chef</span> : charms</li>
                            <li><span>Contents</span> :Chicken, Mozzarella Cheese, Mushrooms, Sweet Chilli Sauce </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="pizza_details">
                    <img src="images/item4.jpg" alt="" />
                    <div class="desc">
                        <ul>

                            <img src="~/pizza/chicken-supreme8809.png" />
                            <li><span>Name</span> : Chicken supreme</li>
                            <li><span>Price</span> : R119.90 </li>
                            <li><span>Contents</span> :Chicken, Green Pepper, Mozzarella Cheese, Mushrooms, Red Onion, Sweet Chilli Sauce </li>
                        </ul>
                    </div>
                    <div class="clear">
                        <div class="pizza_details">
                            <img src="images/item4.jpg" alt="" />
                            <div class="desc">
                                <ul>

                                    <img src="~/pizza/tikka-chicken4303.png" />
                                    <li><span>Name</span> : Tikka Chicken</li>
                                    <li><span>Price</span> : R119.90</li>
                                    <li><span>Contents</span> :Chicken, Mozzarella Cheese, Mushroom, Red Onion, Tikka Sauce </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="footer">
                    <div class="copy_right">
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

