<!DOCTYPE HTML>
<html>
<head>
    <title>Services</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="wrap">
        <div class="wrapper">
            <div class="header">
                <div class="header_top">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.png" alt="" /></a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_bottom">
                    <div class="header_img">
                        <img src="images/header_img.jpg" alt="" />
                    </div>
                
                </div>
            </div>
            <div class="main">
                <div class="main_top">
                    <h2>Donations</h2>
                    <div class="main_top_strip">
                        <img src="images/main_top_strip.png" alt="" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="about_data">
                    <p>What if we told you that every time you ordered your fave pizza, you helped someone in your kasi? Well, that’s exactly what you do when you order from your local Pizza Hut. Your love for our pizzas helps to fill little tummies and support people in need within your community. We do this through Doughnation. And the best part is, you help just by loving our pizza, at no extra cost to you! 
                    <p>
                        Sounds a bit funny - nyana nhe ? Actually, how Doughnation works is quite simple.Your local Pizza Hut creates flat bread from excess dough that’ s left over when we make a pizza.Then we deliver the pizza flatbread to charities and organisations that feed children, the elderly, and families in need.But that’ s just the start.</p>
                     <div class="services_img">
                                <img src="images/interior_img1.jpg" alt="" />
                                <p>Thanks to your support, your local Pizza Hut can do so much more for your community.Sometimes we donate groceries, sponsor youth events, or as Debonairs Pizza < insert store name > once did; built a house for a children’ s care centre.We help in whatever way we can.And all of this is possible through your love for our rhalising pizzas!Together, we make a difference in communities across Mzansi.</p></div>
                           <div class="clear"></div>
                        
                </div>
            </div>
            <div class="footer">
                <div class="copy_right">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

